click==8.1.7
faster-whisper==1.0.3
fugashi==1.3.0
librosa==0.10.1
numpy==1.26.4
openai==2.6.0
pandas==2.2.2
plotly==5.24.1
pyannote.audio==3.1.1
pyarrow==16.1.0
pydantic==1.10.15
python-dotenv==1.0.1
pytest==8.3.3
PyYAML==6.0.1
pyworld==0.3.4
rich==13.7.1
scikit-learn==1.5.2
scipy==1.11.4
setuptools==68.2.2
soundfile==0.12.1
speechbrain==0.5.16
torch==2.5.1
torchaudio==2.5.1
transformers==4.45.2
typer==0.12.3
unidic-lite==1.0.8
